{% extends "index.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock title %}

{% block header %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Articles by {{ author }}</h1>
                    </div>
                </div>
            </div>
        </div>
{% endblock header %}

{% block content %}
    {% for author, articles in authors|sort %}
        <div class="post-preview">
            <a href="{{ SITEURL }}/{{ author.url }}" rel="bookmark">
                <h2 class="post-title">
                    {{ author }} ({{ articles|count }})
                </h2>
            </a>
        </div>
        <hr>
    {% endfor %}
{% endblock content %}
