<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{{ SITENAME }}{% if SITESUBTITLE and SHOW_SITESUBTITLE_IN_HTML %} - {{ SITESUBTITLE }}{% endif %}{% endblock title %}</title>

    {% for name,link in SOCIAL if name in ['rss', 'rss-square'] %}
        <link href="{{ link }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% else %}
        {% if FEED_ALL_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
            <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
            <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
            <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
            <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(slug=tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
    {% endfor %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/clean-blog.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/custom.css">
        <link rel="stylesheet"
                    href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/footer.css">

        {% block custom_css %}{% endblock custom_css %}

        <!-- Fork Awesome -->
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/Fork-Awesome-1.1.7/css/fork-awesome.css">

        <!-- Code highlight color scheme -->
        {% if COLOR_SCHEME_CSS %}
            <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/{{ COLOR_SCHEME_CSS }}" rel="stylesheet">
        {% else %}
            <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/darkly.css" rel="stylesheet">
        {% endif %}

        {% if CSS_OVERRIDE %}
            <!-- CSS specified by the user -->
            <link href="{{ SITEURL }}/{{ CSS_OVERRIDE }}" rel="stylesheet">
        {% endif %}

    {% endblock head %}

    {% block opengraph %}
    {% endblock opengraph %}

    {% if FAVICON %}
    <link rel="icon" href="{{ main_siteurl }}/{{ FAVICON }}">
    {% endif %}

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="https://stats.framasoft.org/";
            _paq.push(['setTrackerUrl', u+'p.php']);
            _paq.push(['setSiteId', '79']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.src=u+'p.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="https://stats.framasoft.org/p.php?idsite=79&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
</head>

{% if page %}
<body class="page-{{ page.slug }}">
{% elif article %}
<body class="article-{{ article.slug }}">
{% elif category %}
<body class="category-{{ category.slug }}">
{% elif tag %}
<body class="tag-{{ tag.slug }}">
{% endif %}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ SITEURL }}/">
                    <img class='yakforms-icon' src="{{ main_siteurl }}/images/logo/icone_yakforms_clair.svg" alt="Home">
                    <img class='yakforms-full-logo' style="display:none" src="{{ main_siteurl }}/images/logo/logo_yakforms.svg" alt="Home">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% for title, link in MENUITEMS %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}

                    {% if DISPLAY_PAGES_ON_MENU %}
                        {% for p in pages|order_menu_by_weight %}
                        {% if p.nomenu != "True" %}
                            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">
                                <i class='fa {{p.slug|prepare_icon}}'></i>  {{ p.title }}
                            </a></li>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if DISPLAY_CATEGORIES_ON_MENU %}
                        {% for cat, null in categories %}
                            <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{cat.name|translate(DEFAULT_LANG) }}</a></li>
                        {% endfor %}
                    {% endif %}

                    <li id='languages-block'>
                        {% block language_block %}
                        <!-- Default behavior : link to home for subsites -->
                        {% if extra_siteurls %}
                        <button id="languages-switcher">
                            <i class="fa fa-language" aria-hidden="true" id='languages-icon'
                                alt="language icon"></i>
                        </button>

                        <ul id="other-languages" class='display-none'>
                            {% for lang, url in lang_siteurls.items() %}
                            <li>
                                <a href="{{ url }}/{% block language_url %}{% endblock %}"
                                    class='lang-a {% if lang == DEFAULT_LANG %} active-language {% endif %}'
                                    hreflang="{{ lang }}">
                                    {{ lang }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endblock %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page header -->
    <header class="intro-header"
        style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/dylan-leagh-unsplash.jpg')">
        {% block header %}{% endblock header %}
    </header>
    <!-- End page header -->

    <!-- Main Content -->
    <div id='main-content'>
            <div>
                {% block content %}{% endblock content %}
            </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div>
                    <ul class="list-inline text-center">
                    {% if SOCIAL %}
                        {% for name,link in SOCIAL %}
                            <li>
                                <a href="{{ link }}">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-{{ name|lower }} fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                    {% if FOOTER_INCLUDE %}
                        {% include FOOTER_INCLUDE %}
                    {% else %}
                        {% include 'footer.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>

    <!-- Add anchor to section titles -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/anchor-links.js"></script>

    <!-- Add script to toggle languages -->
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/toggle-languages.js"></script>

    {% block custom_js %}{% endblock custom_js %}

    {% if not DISABLE_CUSTOM_THEME_JAVASCRIPT %}
        <!-- Custom Theme JavaScript -->
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/clean-blog.js"></script>
    {% endif %}
</body>

</html>
