{% extends "index.html" %}

{% block custom_css %}
<link rel="stylesheet" href='{{ main_siteurl }}/{{ THEME_STATIC_DIR }}/css/news-page.css'>
{% endblock custom_css %}

{% block title %}{{ SITENAME }} - {{ category.name|translate(DEFAULT_LANG) }} {% endblock %}

{% block header %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1> {{ category.name|translate(DEFAULT_LANG) }} </h1>
                    </div>
                </div>
            </div>
        </div>
{% endblock header %}

{% block language_url %}
{{ category.url }}
{% endblock %}


{% block content %}

{% if articles_page and articles_paginator.num_pages > 1 %}

    <!-- Previous / next buttons -->
    <div class='paginator'>
        {% if articles_page.has_previous() %}
        <a href="{{SITE_URL}}/category/{{ category.slug }}
                {% if articles_page.number > 2%}{{ articles_page.number - 1}}{% endif %}.html">«
        </a>
        {% endif %}
        <span class="page_numbers">{{ articles_page.number }} /
            {{ articles_paginator.num_pages }}</span>

        {% if articles_page.has_next() %}
        <a href="{{SITE_URL}}/category/{{ category.slug }}{{ articles_page.number + 1}}.html">»</a>
        {% endif %}
    </div>

    <!-- Articles for the page -->


    {% for i in range (0, DEFAULT_PAGINATION ) %}
        {% set index = (articles_page.number - 1) * DEFAULT_PAGINATION %}
        {% if index + i < articles|length %}
            {% set article = articles[index + i] %}
            <div class="text-content">
                <h1><a href="{{SITEURL}}/{{ article.url }}">{{article.title}}</a></h1>
                <p><i>{{article.date| strftime(DATE_FORMATS[DEFAULT_LANG]) }}</i></p>
                <p>{{article.summary}}</p>
            </div>
        {% endif %}
    {% endfor %}


{% else %}

    {% for article in articles %}
    {% if article.category == category %}
        <div class="text-content">
            <h1><a href="{{SITEURL}}/{{ article.url }}">{{article.title}}</a></h1>
            <div class="news-teaser-container">
                <div class='teaser-col-1'>
                    <p class='article-publish-date'><i>{{article.date|
                            strftime(DATE_FORMATS[DEFAULT_LANG]) }}</i></p>
                    <span class="news-teaser-text">{{ article.summary|striptags }}</span>

                    <p><strong><a href="{{SITEURL}}/{{ article.url }}">{{ "Read more"|translate(DEFAULT_LANG) }} »</a></strong></p>
                </div>

                <div class='teaser-col-2'>
                    <a href="{{SITEURL}}/{{ article.url }}">
                        <img src="{{ main_siteurl }}/images/news/{{ article.slug }}.jpg" class="news-teaser-image">
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}

    {% endif %}

{% endblock content %}
