{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block header %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ SITENAME }} - Categories</h1>
                    </div>
                </div>
            </div>
        </div>
{% endblock header %}

{% block content %}
    <ul>
    {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}
