<div class="copyright yakforms-footer">
    <div class='footer-sources'>
        <a href="https://docs.yakforms.org/faq/">
            <i class="fa fa-question" aria-hidden="true"></i>
            FAQ
        </a>
        <a href="https://framagit.org/yakforms/yakforms">
            <i class="fa fa-gitlab" aria-hidden="true"></i>
            Source
        </a>
        <a href="https://docs.yakforms.org">
            <i class="fa fa-book" aria-hidden="true"></i>
            Documentation
        </a>
        <a href="https://framacolibri.org/c/yakforms/">
            <i class="fa fa-comment" aria-hidden="true"></i>
            Forum
        </a>

        <a href="{{ SITEURL }}/pages/legals">
            <i class="fa fa-legal" aria-hidden="true"></i>
            {{"Legals"|translate(DEFAULT_LANG)}}
        </a>
    </div>
    <hr>
    <div class='footer-credits'>
        <span>{{"Site powered by"|translate(DEFAULT_LANG)}} <a href="http://getpelican.com">Pelican</a>
        </span>
        <br>
        <span>{{"Icons"|translate(DEFAULT_LANG)}} - <a href="https://forkaweso.me/Fork-Awesome/icon/language/">
            Fork Awesome</a>
        </span>
        <br>
        <span>{{"Font"|translate(DEFAULT_LANG)}} - Quando - <a href="https://www.1001fonts.com/quando-font.html">
            Joana Correia</a></span>
        <br>
        <span>{{"Header picture"|translate(DEFAULT_LANG)}} - <a href="https://unsplash.com/@dylanleagh">
                Dylan Leagh on Unsplash</a></span>
        <br>
        <span><a href="https://framagit.org/yakforms/yakforms_org">{{"Source of this website"|translate(DEFAULT_LANG)}} </a></span>
    </div>
</div>
