{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives for {{ period | reverse | join (' ') }}{% endblock %}

{% block header %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Archives for {{ period | reverse | join (' ') }}</h1>
                    </div>
                </div>
            </div>
        </div>
{% endblock header %}

{% block content %}
    <dl>
        {% for article in dates %}
            <dt>{{ article.locale_date }}</dt>
            <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
        {% endfor %}
        <hr>
    </dl>
{% endblock content %}
