{% extends "index.html" %}
{% block title %}{{ SITENAME }} - Tag {{ tag }}{% endblock %}
{% block header %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Tag {{ tag }}</h1>
                    </div>
                </div>
            </div>
        </div>
{% endblock header %}

