@font-face {
  font-family: 'Quando';
  src: url('../fonts/Quando/Quando-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans/OpenSans-Bold.ttf');
  font-weight: bold;
}

* {
  font-family: Open Sans;
}

body {
  background-color: #CFBEC7 ;
}

.nav, .navbar-brand, .lang-a {
  font-family: Quando;
}

.nav a {
  color: black!important;
}

.yakforms-icon {
  width: 2em;
}

.yakforms-full-logo {
  width: 160px;
}

.navbar-brand > img:hover {
  cursor: pointer;
}

.navbar-right > a {
  font-weight: bold;
}

.page-heading, .navbar-brand {
  filter: grayscale(0.88) brightness(3.8);
}

.framaforms-icon {
  max-width: 45px;
}

#languages-block {
  width: 100px;
  color: white;
}

.lang-a {
  color: black;
  padding: 0px!important;
}

.active-language {
  font-weight: bold;
}

.active-language::after {
  content : ' ⋅ ';
}

.active-language::before {
  content : ' ⋅ ';
}

#languages-icon {
  font-size: 1.5em;
  width: 25px;
}

#languages-switcher {
  max-width: 100%;
  border: 0;
  padding: 20px;
  background: none;
}

#other-languages {
  text-align: center;
  list-style-type: none; /* Remove bullets */
  max-width: 100%;
  border-radius: 8px;
  padding-left: 0px;
  margin-top: 5px ;
  background-color: #CFBEC7!important;
}

#other-languages > li > a:hover {
  color: #5E2644;
  text-decoration: underline;
}

/* To toggle language box */
.display-none {
    display: none;
}

.anchor-link {
  left: -20px ;
  position: absolute;
}

/* For icons in section titles */
h1 > img {
  width:35px;
}

div.container> div> div > hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar-custom.is-visible{
  top:0px;
}

.navbar-custom.is-visible{
  transform: none;
}

.navbar-scrolled-down {
  color: black!important;
}

.paginator {
  text-align: center;
  padding: 20px;
  font-size: x-large;
}

.page_numbers {
  padding: 20px;
}

h1, h2, h3, h4, h5 {
  color : #5E2644;
}

.intro-header {
  background-position: bottom 40% center;
}

.intro-header .page-heading {
  padding: 200px 0 100px;
}

.subheading {
  font-family: 'Quando'!important;
  color: white!important;
}

.page-heading > h1, .post-heading > h1 {
  color: white;
}

td > a {
  text-decoration: underline;
}

.alert-info {
  background-color: #5E2644!important;
  color: white;
}

.alert-info > p > a {
  color: white
}

.footnote {
  font-size: smaller;
}

.alert-info > p > a:hover,
footer > * a:hover,
.navbar-custom.is-fixed .nav li a:hover
{
  color: #CFBEC7;
}

a:hover{
  color: #5E2644;
}

.text-content {
  background-color: white;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.links-group-el, .frontpage-btn {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: solid 1px #5E2644;
  margin: 1em;
  padding: 1em;
  text-align: center;
  border-radius: 3px;
}

.links-group {
  display: flex;
  flex-wrap: wrap;
}

.links-group-el > a {
  display: flex;
  flex-direction: row;
}

.links-group-el > a > span {
  margin: 10px;
  text-align: left;
}

.links-group-description {
  font-size: smaller;
}

.links-group-subtitle {
  font-weight: bold;
}

.links-group-description, .links-group-subtitle, .links-group-el > a > span, .frontpage-btn > a > span {
  color: #5E2644;
}

/* Format unordered lists if the first sentence is bold. */
li strong:first-of-type {
  display: block;
}

#instances-list {
  overflow-x: auto;
  margin-bottom: 50px;
}

table {
  width: 100%;
}

tr, th, td, caption {
  border-bottom: solid 1px#5E2644;
}

th, td {
  padding: 15px;
}

th, td {
  text-align: center;
}

caption {
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    padding: 10px
  }

  .subheading {
    padding: 5% 5%;
  }

  .links-group-el {
    width: 100%;
  }

  .text-content {
    padding-left: 5%;
    padding-right: 5%;
  }
}
