.article-publish-date {
  margin-top:10px;
  margin-bottom:10px;
}


.news-teaser-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
}

.news-teaser-image {
  height: 200px;
  object-fit: cover;
  cursor: pointer!important;
}

.teaser-col-1 {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .teaser-col-1, .teaser-col-2 {
    display: block;
  }

  .teaser-col-1 {
    width: 100%;
  }
}
